<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @local_record.name %>
</p>

<%= link_to 'Edit', edit_local_record_path(@local_record) %> |
<%= link_to 'Back', local_records_path %>
